In [1]:
import pandas as pd
import numpy as np
#import warnings
#warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("ipl.csv")

In [3]:
print(df.shape)
print(list(df.columns))

(76014, 15)
['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker', 'non-striker', 'total']

In [4]:
df.head(5)

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [5]:
df = df[['date', 'venue', 'bat_team', 'bowl_team', 'overs', 'runs_last_5', 'wickets_last_5', 'total']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 8 columns):
date              76014 non-null object
venue             76014 non-null object
bat_team          76014 non-null object
bowl_team         76014 non-null object
overs             76014 non-null float64
runs_last_5       76014 non-null int64
wickets_last_5    76014 non-null int64
total             76014 non-null int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.6+ MB

In [6]:
df1 = df
df1 = df1[df1['overs'] >= 5.0]
print(df1.shape)
df1.head(5)

(56707, 8)

,date,venue,bat_team,bowl_team,overs,runs_last_5,wickets_last_5,total
32,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,5.1,59,0,222
33,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,5.2,59,1,222
34,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,5.3,59,1,222
35,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,5.4,59,1,222
36,18-04-2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,5.5,58,1,222

In [7]:
print(df1['venue'].unique())
print("============================================================")
print(df1['bat_team'].unique())
print("============================================================")
print(df1['bowl_team'].unique())

['M Chinnaswamy Stadium' 'Punjab Cricket Association Stadium, Mohali'
 'Feroz Shah Kotla' 'Wankhede Stadium' 'Eden Gardens'
 'Sawai Mansingh Stadium' 'Rajiv Gandhi International Stadium, Uppal'
 'MA Chidambaram Stadium, Chepauk' 'Dr DY Patil Sports Academy' 'Newlands'
 "St George's Park" 'Kingsmead' 'SuperSport Park' 'Buffalo Park'
 'New Wanderers Stadium' 'De Beers Diamond Oval' 'OUTsurance Oval'
 'Brabourne Stadium' 'Sardar Patel Stadium, Motera' 'Barabati Stadium'
 'Vidarbha Cricket Association Stadium, Jamtha'
 'Himachal Pradesh Cricket Association Stadium' 'Nehru Stadium'
 'Holkar Cricket Stadium'
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium'
 'Subrata Roy Sahara Stadium'
 'Shaheed Veer Narayan Singh International Stadium'
 'JSCA International Stadium Complex' 'Sheikh Zayed Stadium'
 'Sharjah Cricket Stadium' 'Dubai International Cricket Stadium'
 'Maharashtra Cricket Association Stadium'
 'Punjab Cricket Association IS Bindra Stadium, Mohali'
 'Saurashtra Cricket Association Stadium' 'Green Park']
============================================================
['Kolkata Knight Riders' 'Chennai Super Kings' 'Rajasthan Royals'
 'Mumbai Indians' 'Deccan Chargers' 'Kings XI Punjab'
 'Royal Challengers Bangalore' 'Delhi Daredevils' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Sunrisers Hyderabad' 'Rising Pune Supergiants'
 'Gujarat Lions' 'Rising Pune Supergiant']
============================================================
['Royal Challengers Bangalore' 'Kings XI Punjab' 'Delhi Daredevils'
 'Kolkata Knight Riders' 'Rajasthan Royals' 'Mumbai Indians'
 'Chennai Super Kings' 'Deccan Chargers' 'Pune Warriors'
 'Kochi Tuskers Kerala' 'Sunrisers Hyderabad' 'Rising Pune Supergiants'
 'Gujarat Lions' 'Rising Pune Supergiant']

In [8]:
#replacing deccan chargers with the sunrisers hyderabad to count them as same team
df1['bat_team'] = df1['bat_team'].replace(['Deccan Chargers'], 'Sunrisers Hyderabad')
df1['bowl_team'] = df1['bowl_team'].replace(['Deccan Chargers'], 'Sunrisers Hyderabad')
print(df1['bat_team'].unique())
print("============================================================")
print(df1['bowl_team'].unique())
print(df1.shape)

['Kolkata Knight Riders' 'Chennai Super Kings' 'Rajasthan Royals'
 'Mumbai Indians' 'Sunrisers Hyderabad' 'Kings XI Punjab'
 'Royal Challengers Bangalore' 'Delhi Daredevils' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Rising Pune Supergiants' 'Gujarat Lions'
 'Rising Pune Supergiant']
============================================================
['Royal Challengers Bangalore' 'Kings XI Punjab' 'Delhi Daredevils'
 'Kolkata Knight Riders' 'Rajasthan Royals' 'Mumbai Indians'
 'Chennai Super Kings' 'Sunrisers Hyderabad' 'Pune Warriors'
 'Kochi Tuskers Kerala' 'Rising Pune Supergiants' 'Gujarat Lions'
 'Rising Pune Supergiant']
(56707, 8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
regular_teams = ['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Daredevils', 'Kolkata Knight Riders', 
                 'Rajasthan Royals', 'Mumbai Indians', 'Chennai Super Kings', 'Sunrisers Hyderabad']
df1 = df1[(df1['bat_team'].isin(regular_teams)) & (df1['bowl_team'].isin(regular_teams))]
df1.shape

(46560, 8)

In [10]:
from datetime import datetime
df1['date'] = df1['date'].apply(lambda x: datetime.strptime(x, '%d-%m-%Y'))
print(df1.shape)
df1.head(5)

(46560, 8)

,date,venue,bat_team,bowl_team,overs,runs_last_5,wickets_last_5,total
32,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,5.1,59,0,222
33,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,5.2,59,1,222
34,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,5.3,59,1,222
35,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,5.4,59,1,222
36,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,5.5,58,1,222

In [11]:
df2 = pd.get_dummies(df1, columns = ['venue', 'bat_team', 'bowl_team'])
#print(list(df2.columns))
df3 = df2[['date', 'overs', 'runs_last_5', 'wickets_last_5', 'venue_Barabati Stadium', 'venue_Brabourne Stadium', 
           'venue_Buffalo Park', 'venue_De Beers Diamond Oval', 'venue_Dr DY Patil Sports Academy', 
           'venue_Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium', 'venue_Dubai International Cricket Stadium', 
           'venue_Eden Gardens', 'venue_Feroz Shah Kotla', 'venue_Himachal Pradesh Cricket Association Stadium', 
           'venue_Holkar Cricket Stadium', 'venue_JSCA International Stadium Complex', 'venue_Kingsmead', 
           'venue_M Chinnaswamy Stadium', 'venue_MA Chidambaram Stadium, Chepauk', 
           'venue_Maharashtra Cricket Association Stadium', 'venue_New Wanderers Stadium', 'venue_Newlands', 
           'venue_OUTsurance Oval', 'venue_Punjab Cricket Association IS Bindra Stadium, Mohali', 
           'venue_Punjab Cricket Association Stadium, Mohali', 'venue_Rajiv Gandhi International Stadium, Uppal', 
           'venue_Sardar Patel Stadium, Motera', 'venue_Sawai Mansingh Stadium', 
           'venue_Shaheed Veer Narayan Singh International Stadium', 'venue_Sharjah Cricket Stadium', 
           'venue_Sheikh Zayed Stadium', "venue_St George's Park", 'venue_Subrata Roy Sahara Stadium', 'venue_SuperSport Park', 
           'venue_Vidarbha Cricket Association Stadium, Jamtha', 'venue_Wankhede Stadium', 'bat_team_Chennai Super Kings', 
           'bat_team_Delhi Daredevils', 'bat_team_Kings XI Punjab', 'bat_team_Kolkata Knight Riders', 'bat_team_Mumbai Indians',
           'bat_team_Rajasthan Royals', 'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad', 
           'bowl_team_Chennai Super Kings', 'bowl_team_Delhi Daredevils', 'bowl_team_Kings XI Punjab', 
           'bowl_team_Kolkata Knight Riders', 'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals', 
           'bowl_team_Royal Challengers Bangalore', 'bowl_team_Sunrisers Hyderabad', 'total']]
print(df3.dtypes)

date                                                          datetime64[ns]
overs                                                                float64
runs_last_5                                                            int64
wickets_last_5                                                         int64
venue_Barabati Stadium                                                 uint8
venue_Brabourne Stadium                                                uint8
venue_Buffalo Park                                                     uint8
venue_De Beers Diamond Oval                                            uint8
venue_Dr DY Patil Sports Academy                                       uint8
venue_Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium              uint8
venue_Dubai International Cricket Stadium                              uint8
venue_Eden Gardens                                                     uint8
venue_Feroz Shah Kotla                                                 uint8
venue_Himachal Pradesh Cricket Association Stadium                     uint8
venue_Holkar Cricket Stadium                                           uint8
venue_JSCA International Stadium Complex                               uint8
venue_Kingsmead                                                        uint8
venue_M Chinnaswamy Stadium                                            uint8
venue_MA Chidambaram Stadium, Chepauk                                  uint8
venue_Maharashtra Cricket Association Stadium                          uint8
venue_New Wanderers Stadium                                            uint8
venue_Newlands                                                         uint8
venue_OUTsurance Oval                                                  uint8
venue_Punjab Cricket Association IS Bindra Stadium, Mohali             uint8
venue_Punjab Cricket Association Stadium, Mohali                       uint8
venue_Rajiv Gandhi International Stadium, Uppal                        uint8
venue_Sardar Patel Stadium, Motera                                     uint8
venue_Sawai Mansingh Stadium                                           uint8
venue_Shaheed Veer Narayan Singh International Stadium                 uint8
venue_Sharjah Cricket Stadium                                          uint8
venue_Sheikh Zayed Stadium                                             uint8
venue_St George's Park                                                 uint8
venue_Subrata Roy Sahara Stadium                                       uint8
venue_SuperSport Park                                                  uint8
venue_Vidarbha Cricket Association Stadium, Jamtha                     uint8
venue_Wankhede Stadium                                                 uint8
bat_team_Chennai Super Kings                                           uint8
bat_team_Delhi Daredevils                                              uint8
bat_team_Kings XI Punjab                                               uint8
bat_team_Kolkata Knight Riders                                         uint8
bat_team_Mumbai Indians                                                uint8
bat_team_Rajasthan Royals                                              uint8
bat_team_Royal Challengers Bangalore                                   uint8
bat_team_Sunrisers Hyderabad                                           uint8
bowl_team_Chennai Super Kings                                          uint8
bowl_team_Delhi Daredevils                                             uint8
bowl_team_Kings XI Punjab                                              uint8
bowl_team_Kolkata Knight Riders                                        uint8
bowl_team_Mumbai Indians                                               uint8
bowl_team_Rajasthan Royals                                             uint8
bowl_team_Royal Challengers Bangalore                                  uint8
bowl_team_Sunrisers Hyderabad                                          uint8
total                                                                  int64
dtype: object

In [12]:
X_train = df3[df3['date'].dt.year < 2017].iloc[:, 1:-1]
Y_train = df3[df3['date'].dt.year < 2017].iloc[:, -1]
X_test = df3[df3['date'].dt.year > 2016].iloc[:, 1:-1]
Y_test = df3[df3['date'].dt.year > 2016].iloc[:, -1]
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(43782, 51)
(43782,)
(2778, 51)
(2778,)

In [14]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV

In [18]:
ridge = Ridge()
parameters = {'alpha': [1e-15,1e-10, 1e-5, 1e-3,1e-2, 1, 2, 3, 5, 10, 15, 20]}
ridge_reg = GridSearchCV(ridge, parameters, scoring = 'neg_mean_squared_error', cv=5)
ridge_reg.fit(X_train, Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:125: LinAlgWarning: Ill-conditioned matrix (rcond=1.75843e-17): result may not be accurate.
  overwrite_a=True).T
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:125: LinAlgWarning: Ill-conditioned matrix (rcond=1.75281e-17): result may not be accurate.
  overwrite_a=True).T
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:125: LinAlgWarning: Ill-conditioned matrix (rcond=1.80102e-17): result may not be accurate.
  overwrite_a=True).T
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:125: LinAlgWarning: Ill-conditioned matrix (rcond=1.75167e-17): result may not be accurate.
  overwrite_a=True).T
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:125: LinAlgWarning: Ill-conditioned matrix (rcond=1.80049e-17): result may not be accurate.
  overwrite_a=True).T

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': [1e-15, 1e-10, 1e-05, 0.001, 0.01, 1, 2, 3, 5, 10, 15, 20]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=0)

In [19]:
print(ridge_reg.best_params_)
print(ridge_reg.best_score_)

{'alpha': 20}
-583.5969145406332

In [22]:
y_pred = ridge_reg.predict(X_test)

In [24]:
mse = np.mean((y_pred-Y_test)**2)
mse

726.6110167074808

In [25]:
#score calculation
ridge_reg.score(X_test, Y_test)

-726.6110167074808

In [26]:
import seaborn as sns
sns.distplot(Y_test-y_pred)

In [28]:
from sklearn import metrics

In [29]:
print("mae : ", metrics.mean_absolute_error(Y_test, y_pred))
print("mse : ", metrics.mean_squared_error(Y_test, y_pred))
print("rmse : ", np.sqrt(metrics.mean_squared_error(Y_test,y_pred)))

mae :  20.626397051303154
mse :  726.6110167074808
rmse :  26.955723264410487

In [31]:
import pickle
fname = "ipl_score_prediction.pkl"
pickle.dump(ridge_reg, open(fname, 'wb'))